@font-face
	font-family 'SFUIDisplay-Regular'
	src url('../assets/fonts/SFUIDisplay-Regular.eot')
	src url('../assets/fonts/SFUIDisplay-Regular.eot?#iefix') format('embedded-opentype'),
		url('../assets/fonts/SFUIDisplay-Regular.woff2') format('woff2'),
		url('../assets/fonts/SFUIDisplay-Regular.woff') format('woff'),
		url('../assets/fonts/SFUIDisplay-Regular.ttf') format('truetype'),
		url('../assets/fonts/SFUIDisplay-Regular.svg#SFUIDisplay-Regular') format('svg')
	font-weight normal
	font-style normal

@font-face
	font-family 'SFUIText-Regular'
	src url('../assets/fonts/SFUIText-Regular.eot')
	src url('../assets/fonts/SFUIText-Regular.eot?#iefix') format('embedded-opentype'),
		url('../assets/fonts/SFUIText-Regular.woff2') format('woff2'),
		url('../assets/fonts/SFUIText-Regular.woff') format('woff'),
		url('../assets/fonts/SFUIText-Regular.ttf') format('truetype'),
		url('../assets/fonts/SFUIText-Regular.svg#SFUIText-Regular') format('svg')
	font-weight normal
	font-style normal

@font-face
	font-family 'SFUIText-Semibold'
	src url('../assets/fonts/SFUIText-Semibold.eot')
	src url('../assets/fonts/SFUIText-Semibold.eot?#iefix') format('embedded-opentype'),
		url('../assets/fonts/SFUIText-Semibold.woff2') format('woff2'),
		url('../assets/fonts/SFUIText-Semibold.woff') format('woff'),
		url('../assets/fonts/SFUIText-Semibold.ttf') format('truetype'),
		url('../assets/fonts/SFUIText-Semibold.svg#SFUIText-Semibold') format('svg')
	font-weight 600
	font-style normal

@font-face
	font-family 'SanFranciscoDisplay-Regular'
	src url('../assets/fonts/SanFranciscoDisplay-Regular.eot')
	src url('../assets/fonts/SanFranciscoDisplay-Regular.eot?#iefix') format('embedded-opentype'),
		url('../assets/fonts/SanFranciscoDisplay-Regular.woff2') format('woff2'),
		url('../assets/fonts/SanFranciscoDisplay-Regular.woff') format('woff'),
		url('../assets/fonts/SanFranciscoDisplay-Regular.ttf') format('truetype'),
		url('../assets/fonts/SanFranciscoDisplay-Regular.svg#SanFranciscoDisplay-Regular') format('svg')
	font-weight 200
	font-style normal

@font-face
	font-family 'SanFranciscoDisplay-Semibold'
	src url('../assets/fonts/SanFranciscoDisplay-Semibold.eot')
	src url('../assets/fonts/SanFranciscoDisplay-Semibold.eot?#iefix') format('embedded-opentype'),
		url('../assets/fonts/SanFranciscoDisplay-Semibold.woff2') format('woff2'),
		url('../assets/fonts/SanFranciscoDisplay-Semibold.woff') format('woff'),
		url('../assets/fonts/SanFranciscoDisplay-Semibold.ttf') format('truetype'),
		url('../assets/fonts/SanFranciscoDisplay-Semibold.svg#SanFranciscoDisplay-Semibold') format('svg')
	font-weight 600
	font-style normal

@font-face
	font-family 'SanFranciscoDisplay-Bold'
	src url('../assets/fonts/SanFranciscoDisplay-Bold.eot')
	src url('../assets/fonts/SanFranciscoDisplay-Bold.eot?#iefix') format('embedded-opentype'),
		url('../assets/fonts/SanFranciscoDisplay-Bold.woff2') format('woff2'),
		url('../assets/fonts/SanFranciscoDisplay-Bold.woff') format('woff'),
		url('../assets/fonts/SanFranciscoDisplay-Bold.ttf') format('truetype'),
		url('../assets/fonts/SanFranciscoDisplay-Bold.svg#SanFranciscoDisplay-Bold') format('svg')
	font-weight bold
	font-style normal