@font-face
	font-family "icons"
	src url('../assets/fonts/icons.eot')
	src url('../assets/fonts/icons.eot?#iefix') format('eot'),
		url('../assets/fonts/icons.woff') format('woff'),
		url('../assets/fonts/icons.ttf') format('truetype'),
		url('../assets/fonts/icons.svg#icons') format('svg')

.icon:before
	font-family "icons"
	-webkit-font-smoothing antialiased
	-moz-osx-font-smoothing grayscale
	font-style normal
	font-variant normal
	font-weight normal
	text-decoration none
	text-transform none


.icon-arrow-bottom:before
	content "\E001"


.icon-arrow-donw:before
	content "\E002"


.icon-arrow-left:before
	content "\E003"


.icon-arrow-right:before
	content "\E004"


.icon-bille:before
	content "\E005"


.icon-block-2:before
	content "\E006"


.icon-block-3:before
	content "\E007"


.icon-block:before
	content "\E008"


.icon-close:before
	content "\E009"


.icon-corbat:before
	content "\E00A"


.icon-edit:before
	content "\E00B"


.icon-eye-2:before
	content "\E00C"


.icon-eye:before
	content "\E00D"


.icon-filter:before
	content "\E00E"


.icon-localidad-2:before
	content "\E00F"


.icon-localidad:before
	content "\E010"


.icon-logout:before
	content "\E011"


.icon-mail:before
	content "\E012"


.icon-menu:before
	content "\E013"


.icon-note:before
	content "\E014"


.icon-pass:before
	content "\E015"


.icon-phone:before
	content "\E016"


.icon-police:before
	content "\E017"


.icon-trash-2:before
	content "\E018"


.icon-trash:before
	content "\E019"


.icon-user-2:before
	content "\E01A"


.icon-user-3:before
	content "\E01B"


.icon-user:before
	content "\E01C"
